{% extends "layout.html" %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div id="productCarousel" class="carousel slide">
                <div class="carousel-inner">
                    {% for image_url in product.images %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <img src="{{ image_url }}" class="d-block w-100" alt="{{ product.name }}"
                            onerror="this.onerror=null; this.src='{{ url_for('static', filename='placeholder_img1.webp') }}';">
                    </div>
                    {% endfor %}
                </div>
                {% if product.images|length > 1 %}
                <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#productCarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <h1 class="mb-3">{{ product.name }}</h1>
            <p class="lead">{{ product.description }}</p>
            <p class="h3 mb-4">Price: {{ product.price | format_currency }}</p>
            {% if product.is_deal %}
            <p class="text-danger h5 mb-3">Special Deal!</p>
            {% endif %}
            <p>In Stock: {{ product.stock_quantity }}</p>
            <form action="{{ url_for('add_to_cart') }}" method="post" class="mb-4">
                <input type="hidden" name="product_id" value="{{ product.id }}">
                <div class="form-group mb-3">
                    <label for="quantity" class="form-label">Quantity:</label>
                    <input type="number" class="form-control" id="quantity" name="quantity" value="1" min="1"
                        max="{{ product.stock_quantity }}">
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Add to Cart</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}