{% extends "layout.html" %}

{% block title %}Products{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <!-- Button to toggle filters on mobile -->
            <button class="btn btn-secondary d-md-none mb-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#filtersCollapse" aria-expanded="false" aria-controls="filtersCollapse">
                Toggle Filters
            </button>

            <!-- Filters section with collapse for mobile view -->
            <div id="filtersCollapse" class="collapse d-md-block">
                <h3>Filters</h3>
                <form action="{{ url_for('get_products') }}" method="get">
                    <div class="mb-3">
                        <label for="category" class="form-label">Category</label>
                        <select class="form-select" id="category" name="category_id">
                            <option value="">All</option>
                            {% for category in categories %}
                            <option value="{{ category.id }}" {% if category.id==current_category|int %}selected{% endif
                                %}>
                                {{ category.name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="is_deal" class="form-label">Deals Only</label>
                        <select class="form-select" id="is_deal" name="is_deal">
                            <option value="" {% if not is_deal %}selected{% endif %}>No</option>
                            <option value="true" {% if is_deal %}selected{% endif %}>Yes</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="min_price" class="form-label">Min Price</label>
                        <input type="number" class="form-control" id="min_price" name="min_price"
                            value="{{ current_min_price }}">
                    </div>
                    <div class="mb-3">
                        <label for="max_price" class="form-label">Max Price</label>
                        <input type="number" class="form-control" id="max_price" name="max_price"
                            value="{{ current_max_price }}">
                    </div>
                    <div class="mb-3">
                        <label for="sort_by" class="form-label">Sort By</label>
                        <select class="form-select" id="sort_by" name="sort_by">
                            <option value="name" {% if current_sort=='name' %}selected{% endif %}>Name</option>
                            <option value="price" {% if current_sort=='price' %}selected{% endif %}>Price</option>
                            <option value="date" {% if current_sort=='created_at' %}selected{% endif %}>Publication Date
                            </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="order" class="form-label">Order</label>
                        <select class="form-select" id="order" name="order">
                            <option value="asc" {% if current_order=='asc' %}selected{% endif %}>Ascending</option>
                            <option value="desc" {% if current_order=='desc' %}selected{% endif %}>Descending</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Apply Filters</button>
                </form>
            </div>
        </div>
        <div class="col-md-9">
            <h1 class="mb-4">Products</h1>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for product in products %}
                <div class="col">
                    <div class="card h-100">
                        <div id="carousel-{{ product.id }}" class="carousel slide">
                            <div class="carousel-inner">
                                {% for image in product.images %}
                                <div class="carousel-item {% if loop.first %}active{% endif %}">
                                    <img src="{{ image }}" class="d-block w-100 card-img-top" alt="{{ product.name }}"
                                        onerror="this.onerror=null; this.src='{{ url_for('static', filename='placeholder_img1.webp') }}';">
                                </div>
                                {% endfor %}
                            </div>
                            {% if product.images|length > 1 %}
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carousel-{{ product.id }}" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carousel-{{ product.id }}" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">${{ "%.2f"|format(product.price) }}</p>
                            <a href="{{ url_for('get_product', product_id=product.id) }}" class="btn btn-primary">View
                                Details</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <nav aria-label="Page navigation" class="mt-4">
                <ul class="pagination justify-content-center">
                    {% if page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('get_products', page=page-1, **query_params) }}"
                            aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %}
                    {% for p in range(1, total_pages + 1) %}
                    <li class="page-item {% if p == page %}active{% endif %}">
                        <a class="page-link" href="{{ url_for('get_products', page=p, **query_params) }}">{{ p }}</a>
                    </li>
                    {% endfor %}
                    {% if page < total_pages %} <li class="page-item">
                        <a class="page-link" href="{{ url_for('get_products', page=page+1, **query_params) }}"
                            aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        </li>
                        {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}